# Configuration file for droiD64 v0.9-SNAPSHOT
# Saved 2020-04-10 10:20:30
#
ask_quit=false
bookmark_bar=true
cbm_font=Courier;0;12
color_border_active=255,0,0
color_border_inactive=128,128,128
color_dir_bg=64,64,224
color_dir_cpm_bg=16,16,16
color_dir_cpm_fg=192,255,192
color_dir_fg=160,160,255
color_dir_local_bg=238,238,238
color_dir_local_fg=51,51,51
colour=5
console_font=Dialog;0;12
default_image_dir=/some/where/left
default_image_dir2=/some/where/right
excluded_image_files=/tmp/Unit.*
ext_removal=.prg;.seq
file_ext_d64=.d64;.d64.gz
file_ext_d64_gz=d64.gz
file_ext_d67=.d67;.d67.gz
file_ext_d67_gz=d67.gz
file_ext_d71=.d71;.d71.gz
file_ext_d71_gz=d71.gz
file_ext_d80=.d80;.d80.gz
file_ext_d80_gz=d80.gz
file_ext_d81=.d81;.d81.gz
file_ext_d81_gz=d81.gz
file_ext_d82=.d82;.d82.gz
file_ext_d82_gz=d82.gz
file_ext_d88=.d88;.d88.gz
file_ext_d88_gz=d88.gz
file_ext_lnx=.lnx;.lnx.gz
file_ext_lnx_gz=lnx.gz
file_ext_t64=.t64;.t64.gz
file_ext_t64_gz=t64.gz
font_size=11
hide_console=false
jdbc_driver=com.mysql.cj.jdbc.Driver
jdbc_limit_type=0
jdbc_password=uridium
jdbc_url=jdbc:mysql://localhost:3306/droid64
jdbc_user=droid64
local_font_size=10
local_row_height=10
look_and_feel=0
max_rows=10
plugin_arguments.0=-d 1 {Image} 10
plugin_arguments.1=-drive8type {DriveType} {ImageFiles}
plugin_arguments.2=-drive8type {DriveType} {ImageFiles}
plugin_arguments.3=-d 1 8 {NewFile}
plugin_arguments.5=-drive8type {DriveType} {ImageFiles}
plugin_command.0=d64copy
plugin_command.1=x64
plugin_command.2=/usr/bin/x128
plugin_command.3=d64copy
plugin_command.5=xpet
plugin_description.0=Transfer this disk image to a real floppy.
plugin_description.1=Invoke VICE 64 emulator with this disk image
plugin_description.2=Invoke VICE 128 emulator with this disk image
plugin_description.3=Transfer real floppy to a new disk image.
plugin_description.5=Invoice VICE PET emulator with disk image
plugin_label.0=d64write
plugin_label.1=VICE 64
plugin_label.2=VICE 128
plugin_label.3=d64read
plugin_label.5=VICE PET
row_height=10
sys_font=Bitstream Vera Sans Mono;0;12
use_database=true
window=1203:813,299:152
# End of file
